@import "/styles/mixins";

.slide{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0rem;
    @include md{
        margin-bottom: 10rem;
    }

    .slide__title{
        text-align: center;
        color: $color-pink;
    }

    &__content{
        display: flex;
        max-width: 100%;
    }

    &__container{
        min-width: 100%;
        overflow: hidden;
        transition: .3s ease all;
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 6rem;
    }

    &__controls{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__button{
        pointer-events: all;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        width: 50px;
        height: 100%;
        text-align: center;
        position: absolute;
        transition: .3 ease all;
        display: flex;
        align-items: center;

        &_leth{
            left: 0;

            path{
                filter: drop-shadow(-2px 0px 0px #fff);
            }
        }

        &_right{
            right: 0;

            path{
                filter: drop-shadow(2px 0px 0px #fff);
            }
        }
    } 
}



