@import "/styles/mixins";

.hero{
    margin-top: -.5rem;

    &__name{
        // margin-bottom: 3rem ;

        p{
            margin-bottom: 0;
        }
    }

    &__text{
        border-right: solid .3rem #fff;
        margin-bottom: 0rem;
        
            @include md{
                margin-bottom: 0;
            }

            p{
                font-size: 2rem;
                margin: 0;
    
                @include md{
                    font-size: 3rem;
                }
            }
    }

    &__button{

       
        
    }
   

    &__image{
        display: block;
        width: 90%;
        margin-bottom: -12rem;
        z-index: 9;
        
        @include md{
            width: 50%;
            margin-bottom: -18rem;
        }
        
        @include lg{
            width: 40%;
            margin-bottom: -20rem;
            margin-left: 3rem;
        }
    }
}




