@import "/styles/mixins";

.footer{
    background: $color-dark;
    margin-top: -.2rem;

    &__content{
        padding: 6rem 0;
        gap: 6rem;

        @include sm{
          flex-direction: row;
        }
    }

    &__title{
      color: $color-cyan;
      font-family: $font-secondary;
      margin-bottom: 2rem;
    }

    &__button{
      display: block;
      margin: 2rem auto;
      padding: 1rem 3rem;
      background: $color-pink;
      border: none;
      color: $color-white;
      border-radius: .5rem;

      &:hover{
        color: $color-white;
        background: #e34f84;
      }
    }

    &__text{
      display: flex;
      justify-content: center;
      justify-content: center;
      width: 100%;

        &_p{
          color: $color-white;
          margin: 0;
        }

        &_icon{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          padding: .5rem;
    
          img{
            width: 2.5rem;
            height: auto;
          }
        }
    }
}

.copy__right {
    display: block;
    padding: 1.5rem 0;
    background: #1C2C2E;  
    p{
      display: flex;
      color: $color-white;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin: 0;
    }
  }


  
  