@import "/styles/mixins";

.entrada{

    &__title{
        text-align: center;
        color: $color-pink;
    }

    &__container{
        display: grid;
        gap: 3.5rem;

            @include sm{
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg{
                grid-template-columns: repeat(3, 1fr);
            }
    }

    &__content{
        background: #72d7e24e;
        border-radius: .7rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.242);

        a{
            color: $color-dark;
        }
    }

    &__image{
        background: $color-blue;
        padding: 2rem;
        border-radius: .7rem .7rem 0 0;
        width: 100%;
        object-fit: contain;
    }

    &__text{
        padding: 1.5rem 3rem;
    }

    &__name{
        font-weight: 700;
        color: $color-dark;
    }

    &__description{
        font-size: 1.8rem;
    }
}